/*
$primary : #285278;
$secondary : #E7E3BD;

$main-width : 610px;
$aside-width : 190px;

html {
	margin: 0;
	font-family: 'Arial', sans-serif;
}

body {
	margin: 0;
	background-color: $primary;
}

.container {
	width: 920px;
	margin: 0 auto;
	position: relative;
}

header {
	position: relative;
}

div.title {
	background-color: #1E1E1E;
	position: absolute;
	right: 0;
	bottom: 50px;
	padding: 0px 60px 0px 60px;

	h1 {
		color: #556C8C;
	}
}

div.subtitle {
	background-color: $primary;
	color: #ffffff;
	position: absolute;
	right: 10px;
	bottom: 40px;
	padding: 5px;
}

nav {
	ul {
		list-style: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -10px;
		margin-right: -10px;
	}

	li {
		float: left;
		margin: 10px;
	}

	a {
		color: $secondary;
		text-decoration: none;
		font-weight: bold;
	}
}

.bar {
	background-color: #7C7B81;
	float: left;
	width: 100%;
}

.bar-left {
	width: $main-width;
	float: left;
	padding-left: 50px;
}

.bar-aside {
	background-color: $primary;
	width: $aside-width;
	float: left;
	color: $secondary;
	padding: 10px;
	font-weight: bold;
}

aside {
	width: $aside-width;
	float: left;
	background-color: $secondary;
	background-image: url("images/angebote_hg.jpg");
	padding: 10px;
}

main {
	background-color: #ffffff;
	float: left;
	width: 100%;

	strong {
		color: $primary;
		font-weight: bold;
	}
}

article {
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 16px;
	}
}

.content {
	float: left;
	width: $main-width;
	padding-left: 50px;
	padding-top: 50px;
}
*/