html {
  margin: 0;
  font-family: 'Arial', sans-serif; }

body {
  margin: 0;
  background-color: #285278; }

.container {
  width: 920px;
  margin: 0 auto;
  position: relative; }

header {
  position: relative; }

div.title {
  background-color: #1E1E1E;
  position: absolute;
  right: 0;
  bottom: 50px;
  padding: 0px 50px 0px 50px; }
  div.title h1 {
    color: #556C8C;
    font-size: 36px; }

div.subtitle {
  background-color: #285278;
  color: #ffffff;
  position: absolute;
  right: 10px;
  bottom: 40px;
  padding: 5px; }

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -10px;
  margin-right: -10px; }

nav li {
  float: left;
  margin: 10px; }

nav a {
  color: #E7E3BD;
  text-decoration: none;
  font-weight: bold; }

.bar {
  background-color: #7C7B81;
  float: left;
  width: 100%;
  margin-top: -5px; }

.bar-left {
  width: 560px;
  float: left;
  padding-left: 50px; }

.bar-aside {
  background-color: #285278;
  width: 240px;
  float: left;
  color: #E7E3BD;
  padding: 10px;
  font-weight: bold; }

aside {
  width: 240px;
  float: left;
  background-color: #E7E3BD;
  background-image: url(../images/angebote_hg.jpg);
  padding: 10px;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 350px;
  position: relative; }
  aside .top {
    padding-bottom: 75px; }
  aside strong {
    color: #000000; }
  aside .bottom {
    float: right;
    color: #E7E3BD;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px; }
    aside .bottom p {
      margin: 0; }

main {
  background-color: #ffffff;
  float: left;
  width: 100%; }
  main strong {
    color: #285278;
    font-weight: bold; }

article h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px; }

.content {
  float: left;
  width: 510px;
  padding: 50px;
  line-height: 1.5em; }

footer p {
  margin: 0; }
